################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/tools
/.idea/.idea.WpfLearningPath/.idea
/.vs
/schema
/templates
/tests

# Build outputs (all projects)
**/bin/
**/obj/

# Lesson metadata
**/lesson.json
